/* === google font === */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&display=swap");

/* === variable css === */
:root {
  /* === color === */
  --soft-blue: #5468e7;
  --soft-violet: #c897e4;
  --dark-blue: #232340;
  --desaturated-blue: #7676b2;
  --off-white: #f5f5f5;
  --light-orange: #ffba79;
}

/* === base === */
body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  background: white;
  overflow-x: hidden;
}

/*=== Hero Section ===*/
.hero {
  background-image: url("asset/img/herobg.png");
  width: 100%;
  height: 800px;
  background-position: center;
  background-size: cover;
}

/*=== Header ===*/
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-list {
  list-style: none;
}

.nav-list .bi-list {
  display: none;
}

.nav-list .nav-logo {
  text-decoration: none;
  color: var(--off-white);
  font-weight: 600;
  font-size: 52px;
}

.nav-list .nav-logo span {
  color: var(--soft-blue);
}

.nav-item {
  position: relative;
  display: block;
  transition: 0.5s;
  cursor: pointer;
}

.nav-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--off-white);
}

.nav-item:hover {
  color: var(--off-white);
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-link {
  color: var(--off-white);
  font-size: 16px;
}

.nav-link-active {
  text-decoration: none;
  color: var(--off-white);
  background: #5468e780;
  padding: 10px 44px;
  border-radius: 4px;
  font-size: 16px;
  transition: 0.3s;
}

.nav-link-active:hover {
  background: #383880;
}

/*=== Hero offer ===*/
.hero-container {
  height: 600px;
}

.hero-offer {
  width: 563px;
  height: 301px;
}

.hero-offer h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
}

.hero-offer p {
  width: 397px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.hero-form .group-email {
  width: 298px;
  background: var(--off-white);
  border-radius: 4px;
  border: 2px solid #d1ecfd;
  padding: 8px 16px;
}

.hero-form input {
  border: none;
  background: var(--off-white);
}

.hero-form input:focus {
  outline: none;
}

.hero-form button {
  width: 233px;
  margin-left: 16px;
  background: var(--soft-blue);
  color: var(--off-white);
  border: none;
  padding: 10px 44px;
  border-radius: 4px;
  transition: 0.3s;
}

.hero-form button:hover {
  background: #394abb;
}

/*=== mockup section ===*/
.mockup-section {
  gap: 60px;
}
.offer-container {
  padding: 0 !important;
}
.img-section {
  float: left;
}
.offer-box-mockup,
.offer-box {
  width: 460px;
}

.offer-content {
  margin-bottom: 48px;
}

.offer-content h1,
.offer-content h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 24px;
  color: var(--dark-blue);
}

.offer-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #232340e5;
}

.offer-box-mockup a,
.offer-box a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.offer-box-mockup svg,
.offer-box svg {
  transition: 0.3s ease-in-out;
}

.offer-box-mockup a:hover svg,
.offer-box a:hover svg {
  transform: translateX(8px);
}

.img-section {
  width: 800px;
  height: 654px;
  background-image: url(asset/img/mockup.png);
  background-position: right;
  background-size: cover;
}

/*=== Info section ===*/
.info-img,
.info2-img,
.info3-img {
  width: 565px;
  height: 565px;
}

.info-img {
  background-image: url(asset/img/info.png);
}

.info-img .subInfoImg {
  padding-top: 1.5rem;
  padding-left: 20.5rem;
}

/* === info section 2 === */
.info2-img {
  background-image: url(asset/img/info2.png);
}

.info2-img .subInfoImg1 {
  padding-top: 19rem;
  padding-left: 25rem;
}

.info2-img .subInfoImg2 {
  padding-top: 1rem;
  padding-left: 25rem;
}

/* === info section 3 === */
.info3-img {
  background-image: url(asset/img/info3.png);
}

.info3-img .subInfo3Img1 {
  padding-top: 19rem;
  padding-left: 1.7rem;
}

.info3-img .subInfo3Img2 {
  padding-top: 1rem;
  padding-left: 1.7rem;
}

/* === review carrousel === */
.review-title h1 {
  margin: 5rem 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 64px;
  color: var(--dark-blue);
}

.box-area-content {
  padding: 44px 33px;
}

.box-area-content p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 24px;
  margin-bottom: 40px;
}

.box-user {
  gap: 14px;
}
.box-user-img img {
  width: 56px !important;
  height: 56px;
}

.box-user h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
  color: var(--dark-blue);
}

.box-user h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: var(--desaturated-blue);
  margin-bottom: 0;
}

#reviews .owl-nav {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 24px;
}

#reviews .owl-prev,
#reviews .owl-next {
  width: 32px;
  height: 32px;
}

/* === footer === */
#footer {
  background: var(--dark-blue);
}

.logo-footer {
  color: var(--off-white);
  width: 168px;
  gap: 16px;
}

.logo-footer h1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.02em;
}

.logo-footer h1 span {
  color: var(--soft-blue);
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
}

.component-footer-group,
.stayuptodate {
  margin-top: 2rem;
}

#footer .company-footer h1,
#footer .features-footer h1,
#footer .contact-footer h1,
#footer .stayuptodate h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: var(--soft-blue);
  margin-bottom: 16px;
}

#footer ul {
  list-style-type: none;
  gap: 12px;
}

#footer a {
  text-decoration: none;
  color: var(--off-white);
}

.contact-footer p,
.stayuptodate p {
  color: var(--off-white);
}

.group-email-footer,
.group-email-footer input,
.group-email-footer button {
  background: #56566c;
}

.group-email-footer {
  padding: 11px 16px;
  border-radius: 4px;
}

.group-email-footer input {
  color: var(--off-white);
  border: none;
}

.group-email-footer input:focus {
  outline: none;
}

.group-email-footer input::placeholder {
  color: var(--off-white);
}

.group-email-footer button {
  border: none;
  padding: 0;
}

/* === breakpoint === */
/*Medium devices (laptop, 1024px)*/
@media (max-width: 1300px) {
  .offer-box-mockup {
    padding-left: 4.5rem;
  }
  .img-section {
    width: 700px;
    height: 554px;
  }
}

/*moblie landscape devices (mobile, 568px)*/
@media (max-width: 568px) {
  .hero {
    background-position: calc(50% - 150px) center;
  }
  .hero::after {
    content: "";
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, var(--dark-blue), rgba(35, 35, 64, 0) 50%);
    z-index: 0;
  }
  .navbar,
  .hero-container,
  .mockup-section,
  .info-section,
  .info-section2,
  .info-section3,
  .reviews-section {
    padding: 0 2rem;
  }
  .bi-list {
    display: block !important;
    cursor: pointer;
    color: var(--off-white);
  }
  .nav-item-group {
    position: absolute;
    gap: 1.5rem !important;
    font-weight: 400;
    flex-direction: column;
    right: 2rem;
    background: var(--dark-blue);
    display: flex;
    border-radius: 4px;
    transition: all 200ms ease;
    align-items: flex-start;
    padding: 2rem 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    top: -400%;
  }
  .show-menu {
    top: 4.5rem;
  }
  .hero-container {
    justify-content: end !important;
  }
  .hero-offer {
    width: 100%;
    height: 365px;
  }
  .hero-form button {
    width: 200px;
    padding: 10px 20px;
  }
  .offer-container {
    margin-right: 0;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .img-section {
    background-position: left;
  }
  .info-section,
  .info-section2,
  .info-section3 {
    margin: 0;
    padding: 0;
  }
  .info-img,
  .info2-img,
  .info3-img {
    width: 280px;
    height: 360px;
    background-position: center;
    background-size: cover;
  }
  .subInfoImg img {
    width: 160px;
    height: 68px;
  }
  .subInfoImg1 img {
    width: 120px;
    height: 51.47px;
  }
  .subInfoImg2 img {
    width: 120px;
    height: 114.65px;
  }
  .subInfo3Img1 img {
    width: 128px;
    height: 122.26px;
  }
  .subInfo3Img2 img {
    width: 128px;
    height: 54.91px;
  }
  .subInfoImg {
    padding-top: 1rem !important;
    padding-left: 7.7rem !important;
  }
  .subInfoImg1 {
    padding-top: 1rem !important;
    padding-left: 10rem !important;
  }
  .subInfoImg2 {
    padding-top: 1rem !important;
    padding-left: 10rem !important;
  }
  .subInfo3Img1 {
    padding-top: 11rem !important;
    padding-left: 1rem !important;
  }
  .subInfo3Img2 {
    padding-top: 1rem !important;
    padding-left: 1rem !important;
  }
  .offer-box-mockup {
    padding: 0;
    margin-left: 2rem;
  }
  .offer-box {
    width: 240px;
    height: 438px;
    padding-left: 2rem;
  }
  .offer-content h1 {
    font-size: 34px;
    line-height: 42px;
  }
  .offer-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .box-area-content p {
    font-size: 16px;
    line-height: 24px;
  }
  .reviews-section {
    padding: 0;
    margin: 0;
  }
  .component-footer-group {
    width: 100%;
    justify-content: space-between !important;
  }
  .stayuptodate {
    margin-top: 2rem;
    width: 50%;
  }
  .company-footer,
  .features-footer,
  .contact-footer {
    width: 32%;
  }
}

/*moblie potrait devices (mobile L, 425px)*/
@media (max-width: 426px) {
  .hero {
    background-position: calc(50% - 250px) center;
  }
  .hero::after {
    content: "";
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, var(--dark-blue), rgba(35, 35, 64, 0) 50%);
    z-index: 0;
  }
  .nav-item-group {
    padding: 1rem 0.5rem;
  }
  .nav-item .nav-link,
  .nav-link-active {
    font-size: 14px;
  }
  .nav-link-active {
    padding: 5px 20px;
  }
  .hero-container {
    justify-content: end !important;
  }
  .hero-offer {
    width: 100%;
    height: 422px;
  }
  .hero-offer .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .hero-offer h1 {
    font-size: 34px;
    line-height: 42px;
  }
  .hero-offer p {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
  .hero-form {
    width: 100%;
    height: 110px;
    gap: 16px;
    flex-wrap: wrap;
  }
  .hero-form .group-email {
    width: 100%;
  }
  .hero-form button {
    width: 100%;
    margin-left: 0;
  }
  .offer-box-mockup {
    width: 260px;
  }
  .offer-content h2 {
    font-size: 34px;
    line-height: 42px;
  }
  .col-responsive {
    width: 100% !important;
  }
  .info-img,
  .info2-img,
  .info3-img {
    width: 300px;
    height: 288px;
  }
  .subInfoImg img {
    width: 168px;
    height: 72px;
  }
  .subInfoImg {
    padding-left: 8.5rem !important;
  }
  .offer-box {
    margin-top: 48px;
    width: 320px;
  }
  .p-responsive {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .row-responsive {
    flex-wrap: wrap-reverse;
  }
  .subInfoImg1 img {
    width: 104px;
    height: 44.61px;
  }
  .subInfoImg2 img {
    width: 104px;
    height: 99.36px;
  }
  .subInfoImg1,
  .subInfoImg2 {
    padding-left: 13rem !important;
  }
  .subInfo3Img1 img {
    width: 104px;
    height: 99.34px;
  }
  .subInfo3Img2 img {
    width: 104px;
    height: 44.61px;
  }
  .subInfo3Img1 {
    padding-top: 8.5rem !important;
  }
  .review-title {
    width: 240px;
  }
  .review-title h1 {
    font-size: 34px;
    line-height: 42px;
    margin: 0;
  }
  .row-group {
    flex-wrap: wrap-reverse;
  }
  .component-footer-group {
    margin-top: 0;
  }
  .stayuptodate {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .stayuptodate,
  .company-footer,
  .features-footer,
  .contact-footer {
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 320px) {
  .hero {
    background-position: calc(50% - 250px) center;
  }
  .hero::after {
    content: "";
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    background: linear-gradient(90deg, var(--dark-blue), rgba(35, 35, 64, 0) 50%);
    z-index: 0;
  }
  .nav-item-group {
    padding: 1rem 0.5rem;
  }
  .nav-item .nav-link,
  .nav-link-active {
    font-size: 14px;
  }
  .nav-link-active {
    padding: 5px 20px;
  }
  .hero-container {
    justify-content: end !important;
  }
  .hero-offer {
    width: 260px;
    height: 422px;
  }
  .hero-offer .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .hero-offer h1 {
    font-size: 34px;
    line-height: 42px;
  }
  .hero-offer p {
    width: 260px;
    font-size: 16px;
    line-height: 24px;
  }
  .hero-form {
    width: 260px;
    height: 110px;
    gap: 16px;
    flex-wrap: wrap;
  }
  .hero-form button {
    width: 100%;
    margin-left: 0;
  }
  .offer-box-mockup {
    width: 260px;
  }
  .offer-content h2 {
    font-size: 34px;
    line-height: 42px;
  }
  .col-responsive {
    width: 100% !important;
  }
  .info-img,
  .info2-img,
  .info3-img {
    width: 300px;
    height: 288px;
  }
  .subInfoImg img {
    width: 168px;
    height: 72px;
  }
  .subInfoImg {
    padding-left: 8.5rem !important;
  }
  .offer-box {
    margin-top: 48px;
    width: 320px;
  }
  .p-responsive {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .row-responsive {
    flex-wrap: wrap-reverse;
  }
  .subInfoImg1 img {
    width: 104px;
    height: 44.61px;
  }
  .subInfoImg2 img {
    width: 104px;
    height: 99.36px;
  }
  .subInfoImg1,
  .subInfoImg2 {
    padding-left: 13rem !important;
  }
  .subInfo3Img1 img {
    width: 104px;
    height: 99.34px;
  }
  .subInfo3Img2 img {
    width: 104px;
    height: 44.61px;
  }
  .subInfo3Img1 {
    padding-top: 8.5rem !important;
  }
  .review-title {
    width: 240px;
  }
  .review-title h1 {
    font-size: 34px;
    line-height: 42px;
    margin: 0;
  }
  .row-group {
    flex-wrap: wrap-reverse;
  }
  .component-footer-group {
    margin-top: 0;
  }
  .stayuptodate {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .stayuptodate,
  .company-footer,
  .features-footer,
  .contact-footer {
    width: 100%;
    margin-top: 2rem;
  }
}
