/* === google font === */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&display=swap");

/* === variable css === */
:root {
  /* === color === */
  --soft-blue: #5468e7;
  --soft-violet: #c897e4;
  --dark-blue: #232340;
  --desaturated-blue: #7676b2;
  --off-white: #f5f5f5;
  --light-orange: #ffba79;
}

/* === base === */
body {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
  background: white;
  overflow-x: hidden;
}

/*=== Header ===*/
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-list {
  list-style: none;
}

.nav-list .bi-list {
  display: none;
}

.nav-list .nav-logo {
  text-decoration: none;
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 52px;
}

.nav-list .nav-logo span {
  color: var(--soft-blue);
}

.nav-item {
  position: relative;
  display: block;
  transition: 0.5s;
  cursor: pointer;
}

.nav-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--dark-blue);
}

.nav-item:hover {
  color: var(--dark-blue);
}

.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-link {
  color: var(--dark-blue);
  font-size: 16px;
}

.nav-link-active {
  text-decoration: none;
  color: var(--dark-blue);
  background: #5468e780;
  padding: 10px 44px;
  border-radius: 4px;
  font-size: 16px;
  transition: 0.3s;
}

.nav-link-active:hover {
  background: #1e37d780;
}

/* === blog post === */
.blog-title-group {
  width: 764px;
  gap: 5rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.blog-title h1 {
  color: #25313c;
  font-size: 50px;
  font-weight: 700;
  line-height: 64px;
}

.card-author {
  display: flex;
  width: 364px;
  align-items: center;
}

.card-author .line {
  width: 1px;
  height: 24px;
  background-color: var(--desaturated-blue);
}

.card-author h2 {
  display: flex;
  padding: 0px 8px;
  align-items: center;
  align-self: stretch;
  color: var(--desaturated-blue);
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.14px;
  margin-bottom: 0;
}

.blog-content-group {
  width: 764px;
  gap: 5rem;
  margin: 5rem 0;
}

.blog-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.blog-author {
  gap: 24px;
}

.avatar-blog img {
  width: 64px;
}

.author-content {
  width: 336px;
}

.author-content h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #c897e4;
}

.author-content h1 {
  color: var(--dark-blue);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.author-content p {
  color: #23234099;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.01em;
}

.line {
  height: 1px;
  background: #bbc8d4;
}

.blog-comment {
  gap: 48px;
}

.blog-comment p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.comment-content {
  gap: 16px;
}

.comment-content textarea {
  border: 2px solid var(--desaturated-blue);
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  height: 199px;
}

.comment-content textarea::placeholder {
  color: #232340e5;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.01em;
}

/* === footer === */
#footer {
  margin-top: 5rem;
  background: var(--dark-blue);
}

.logo-footer {
  color: var(--off-white);
  width: 168px;
  gap: 16px;
}

.logo-footer h1 {
  font-size: 52px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.02em;
}

.logo-footer h1 span {
  color: var(--soft-blue);
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.02em;
}

.component-footer-group,
.stayuptodate {
  margin-top: 2rem;
}

#footer .company-footer h1,
#footer .features-footer h1,
#footer .contact-footer h1,
#footer .stayuptodate h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: var(--soft-blue);
  margin-bottom: 16px;
}

#footer ul {
  list-style-type: none;
  gap: 12px;
}

#footer a {
  text-decoration: none;
  color: var(--off-white);
}

.contact-footer p,
.stayuptodate p {
  color: var(--off-white);
}

.group-email-footer,
.group-email-footer input,
.group-email-footer button {
  background: #56566c;
}

.group-email-footer {
  padding: 11px 16px;
  border-radius: 4px;
}

.group-email-footer input {
  color: var(--off-white);
  border: none;
}

.group-email-footer input:focus {
  outline: none;
}

.group-email-footer input::placeholder {
  color: var(--off-white);
}

.group-email-footer button {
  border: none;
  padding: 0;
}

/* === breakpoint === */
/*moblie landscape devices (mobile, 568px)*/
@media (max-width: 568px) {
  .navbar,
  .header,
  .hero {
    padding: 0 2rem;
  }
  .bi-list {
    display: block !important;
    cursor: pointer;
    color: var(--dark-blue);
  }
  .nav-item-group {
    position: absolute;
    gap: 1.5rem !important;
    font-weight: 400;
    flex-direction: column;
    right: 2rem;
    background: var(--dark-blue);
    display: flex;
    border-radius: 4px;
    transition: all 200ms ease;
    align-items: flex-start;
    padding: 2rem 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    top: -400%;
  }
  .show-menu {
    top: 4.5rem;
  }
  .nav-link,
  .nav-link-active {
    color: var(--off-white);
  }
  .blog-title-group {
    margin-top: 5rem;
    width: 508px;
  }
  .blog-title h1 {
    font-size: 34px;
    line-height: 42px;
  }
  .blog-img {
    height: 440px;
  }
  .blog-content-group {
    width: 508px;
  }
  .component-footer-group {
    width: 100%;
    justify-content: space-between !important;
  }
  .stayuptodate {
    margin-top: 2rem;
    width: 50%;
  }
  .company-footer,
  .features-footer,
  .contact-footer {
    width: 32%;
  }
}

/*moblie potrait devices (mobile L, 425px)*/
@media (max-width: 426px) {
  .nav-item-group {
    padding: 1rem 0.5rem;
  }
  .nav-item .nav-link,
  .nav-link-active {
    font-size: 14px;
  }
  .nav-link-active {
    padding: 5px 20px;
  }
  .blog-title-group,
  .blog-content-group {
    width: 370px;
  }
  .card-author {
    width: 100%;
  }
  .avatar img {
    width: 40px;
  }
  .card-author h2 {
    width: 80px;
  }
  .card-author .line {
    height: 28px;
  }
  .blog-img {
    height: 280px;
  }
  .row-group {
    flex-wrap: wrap-reverse;
  }
  .component-footer-group {
    margin-top: 0;
  }
  .stayuptodate {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .stayuptodate,
  .company-footer,
  .features-footer,
  .contact-footer {
    width: 100%;
    margin-top: 2rem;
  }
}

/*moblie potrait devices (mobile S, 320px)*/
@media (max-width: 320px) {
  .blog-title-group,
  .blog-content-group {
    width: 260px;
  }
  .comment-content textarea {
    height: 245px;
  }
}
